.contact-view {
  &__info {
    margin: 0 auto;
    padding: 0 40px;
    width: max-content;
    margin-bottom: 20px;
    min-height: 200px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
  }

  &__button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
    margin-right: 5px;
    text-decoration: none;
    background-color: #0f4c81;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #1c6aad;
    }

    &-delete {
      background-color: #b22222;

      &:hover {
        background-color: #d74141;
      }
    }
  }
}
